
nav{
    margin-top: 1%;
    margin-left: 0%;
    float: right;
}
.button-1{
    background: #BBD6B8;
    border-radius: 20%;
}
.button-2{
    background: #b8e2b8;
    border-radius: 20%;
}
.search-Books{
    margin-left: 0%;
}
.d-flex{
    margin-left: 0%;
    float: right;
}